#header {
    height: 12vh;
}

#navbarScroll {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#navbarScroll .dropdown_btns {
    width: 20rem;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: space-around;
}

#navbarScrollingDropdown {
  width: 150px;
  display: flex;
  font-size: 17px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
  align-items: center;
  border: 2px solid #263456;
  justify-content: space-evenly;
}

.navbar-nav {
  flex-direction: row;
}